@page
@model Car_rental.Pages.Account.RegisterSuccessModel
@{
    ViewData["Title"] = "Registration Successful";
}

<h2>Registration Successful</h2>
<p>Your registration was successful. You can now <a asp-page="/Account/SignIn">sign in</a> to access your account.</p>
